# **<div style='text-align:center'>Exercicio 1 - json </div>**

In [8]:
# The code was removed by Watson Studio for sharing.

In [9]:
df_data_1 = pd.read_json(body, orient='values')
df_data_1.head()

        date    name  value
0 2018-12-12  Kimble  93.28
1 2019-03-08  Alanna  10.51
2 2019-10-09     Jay  29.41
3 2019-07-28  Rustin  47.94
4 2019-03-23   Pedro  98.77

In [6]:
def func1 (x):
    x = x.sort_values(['date'])
    return x

def func2 (y):
    y = y.sort_values(['name'])
    return y

def func3 (z):
    z = z.sort_values(['value'])
    return z

#func1 define a ordenação por Data
#func2 define a ordenação por Nome
#func3 define a ordenação pelos Valores

In [3]:
func1 (df_data_1)

         date         name  value
16 2018-11-23       Culver  68.38
15 2018-11-24        Xenia  43.61
0  2018-12-12       Kimble  93.28
10 2019-01-13     Kristine  26.09
24 2019-01-27   Christabel  73.09
13 2019-02-03     Claudine  26.28
8  2019-02-14        Graig  79.75
1  2019-03-08       Alanna  10.51
5  2019-03-21         Isac   5.21
4  2019-03-23        Pedro  98.77
14 2019-04-07      Honoria  93.40
6  2019-04-10        Gayla  40.03
20 2019-04-11      Jackson  53.92
17 2019-05-14       Paddie  99.52
23 2019-05-25         Jack  87.38
22 2019-06-18     Christie  83.61
3  2019-07-28       Rustin  47.94
19 2019-08-02        Tadio   4.40
18 2019-08-17         Livy  51.81
12 2019-08-21         Teri  22.17
2  2019-10-09          Jay  29.41
11 2019-10-10      Brenden  41.40
7  2019-10-16      Ransell  80.89
21 2019-10-19        Elise  35.62
9  2019-10-21  Jacquenetta  97.73

# **<div style='text-align:center'>Exercicio 2 - CSV</div>**

In [4]:

body = client_f6f115930b494f62ba73b212681c9b2a.get_object(Bucket='testepythonenio1-donotdelete-pr-wopt5yloexyfnx',Key='data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

# If you are reading an Excel file into a pandas DataFrame, replace `read_csv` by `read_excel` in the next statement.
df_data_0 = pd.read_csv(body)
df_data_0.head()

       name
0       Rog
1  Robinett
2    Stacee
3    Rutter
4     Candi

In [5]:
def funcsv (a):
    a.drop_duplicates()
    a = a.sort_values(['name'])
    
    return a

#Função funcsv remove as duplicadas e classifica por nome

In [6]:
funcsv (df_data_0)

           name
73     Adrianne
74        Alene
46   Alessandro
20       Alfons
99      Anthony
75        Armin
51      Artemis
41        Berne
90        Bunni
35         Calv
4         Candi
92       Carlyn
67       Caspar
79     Christie
80       Cindie
29     Clarence
12     Clarisse
85         Codi
60  Constantino
84   Cristionna
97        Daffi
21        Daune
13        Druci
22    Ellswerth
34        Elora
62    Fanchette
89        Fanya
5        Farica
59        Gaile
6       Garrard
..          ...
82        Perle
57   Philippine
23       Portia
14      Rafaela
33    Reginauld
11        Reine
72      Reinold
47        Retha
30      Riobard
1      Robinett
0           Rog
58      Rozelle
3        Rutter
53       Shandy
25        Slade
49       Sorcha
2        Stacee
76       Steven
61         Sven
40       Tandie
71       Tanney
48        Tasha
18      Theresa
7         Venus
26        Verne
28        Vevay
52      Whitney
86      William
15        Wolfy
87        Zarah

[100 rows x 1 columns]

# **<div style='text-align:center'>Exercicio 3 - Equação</div>**

In [7]:
print('Calcularemos o resultado da conta "Y=X²+2X-20"')
X = float(input('Defina o valor de X: '))
print('O valor de X é: ', X)

#Define o desafio
#Define X como variavel que o usuário aplica

Calcularemos o resultado da conta "Y=X²+2X-20"
Defina o valor de X: 0
O valor de X é:  0.0

In [8]:
Y = X**2+2*X-20
print('Eu já sei qual a resposta certa, mas por que você não tenta também?')
Z = float(input('Qual o valor que você chegou? \n'))

#Define Y como resultado da equação
#Define Z como input esperado pelo usuário

Eu já sei qual a resposta certa, mas por que você não tenta também?
Qual o valor que você chegou?
0

In [9]:
if Z == Y:
    print('Parabéns')
    
else:
    print('Essa não é bem a resposta correta, a resposta correta é: ', Y)
    
#Verifica de o Z é igual ao Y
#Retorna Resultados diferentes caso positivo ou negativo

Essa não é bem a resposta correta, a resposta correta é:  -20.0

# **<div style='text-align:center'>Exercicio 3 - Função</div>**

In [21]:
import math

a=1
b=2
c=-20

Delta = b**2-4*a*c
print('O delta ficou: ',Delta)

R1 = round((-b + math.sqrt(b*b - 4*a*c))/2*a, 2)
R2 = round((-b - math.sqrt(b*b - 4*a*c))/2*a, 2)

#print(R1, R2)
print('\nAs raizes são X1 = {:.3} e X2 = {:.3}.\n'.format(R1, R2))

O delta ficou:  84

As raizes são X1 = 3.58 e X2 = -5.58.

In [19]:
x1 = float(input('Digite o valor para X1: '))
x2 = float(input('Digite o valor para X2: '))

if (x1 == R1 and x2 == R2) or (x1 == R2 and x2 == R1):
    print('Parabéns')
    
else:
    print('Essa não é bem a resposta correta, a resposta correta é: \n', R1, R2)
    
#Verifica de o Z é igual ao Y
#Retorna Resultados diferentes caso positivo ou negativo

Digite o valor para X1: 3.58
Digite o valor para X2: -5.58
Parabéns

# **<div style='text-align:center'>Bonus</div>**

In [39]:
import math
print('Bem vindo, que tal resolvermos Bhaskara hoje?')
print('A formula: 0=aX²+bX+c')
print('Vamos definir os valores para "a", "b" e "c"')
a = float(input('Digite o valor para "a": '))
b = float(input('Digite o valor para "b": '))
c = float(input('Digite o valor para "c": '))

if (c >= 0):
    print("Logo teremos: 0 = ",a,"X² + ",b,"X + ",c)
    
else:
    print("Logo teremos: 0 = ",a,"X² + ",b,"X + (",c,")")

Delta = b**2-4*a*c
print('O delta ficou: ',Delta)

R1 = round((-b + math.sqrt(b*b - 4*a*c))/2*a, 2)
R2 = round((-b - math.sqrt(b*b - 4*a*c))/2*a, 2)

#print(R1, R2)
print('\nAs raizes são X1 = {:.3} e X2 = {:.3}.\n'.format(R1, R2))

Bem vindo, que tal resolvermos Bhaskara hoje?
A formula: 0=aX²+bX+c
Vamos definir os valores para "a", "b" e "c"
Digite o valor para "a": 1
Digite o valor para "b": 2
Digite o valor para "c": -20
Logo teremos: 0 =  1.0 X² +  2.0 X + ( -20.0 )
O delta ficou:  84.0

As raizes são X1 = 3.58 e X2 = -5.58.